@use "_colors" as color;

.footer_container {
  width: 100%;
  display: flex;
  padding: 2vmax 1vmax;
  background-color: rgb(249, 246, 242);
}

.footer_left {
  height: 100%;
  width: 30%;

  img {
    height: 100%;
  }
}

.footer_right {
  height: 100%;
  width: 70%;
  display: flex;

  table {
    width: 70%;
    margin: auto;
    font-size: 1vmax;
  }

  th {
    text-align: left;
    padding: 1.5vmax 0;
  }
}

td {
  padding: 0.2vmax 0;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: color.$color02;
  }

  span {
    display: flex;
    gap: 0.3vmax;

    &:hover {
      color: color.$color02;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer_left {
    display: none;
  }

  .footer_right {
    width: 100%;
    justify-content: center;

    table {
      width: 90%;
      font-size: 1.5vmax;
    }
  }
}
