@use "_colors" as color;
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

.slider_container {
  height: 80vh;
  width: 100%;
  display: flex;
}

.slider_left {
  height: 100%;
  width: 50%;
  padding: 0 2vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vmax;
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/paisley.png");

  h2 {
    font-size: 3vmax;
    width: 80%;
    font-family: "Libre Baskerville", serif;
    color: color.$color02;
  }

  p {
    width: 90%;
    font-size: 1vmax;
  }

  .slider_buttons {
    display: flex;
    gap: 2vmax;
    width: 75%;

    button {
      padding: 0.5vmax 1.5vmax;
      border-radius: 5px;
      border: 1px solid transparent;
      font-weight: 500;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      font-size: 1vmax;

      &:nth-child(1) {
        background-color: color.$color02;
        color: color.$color04;

        &:hover,
        &:active {
          background-color: color.$color03;
        }
      }

      &:nth-child(2) {
        border: 2px solid color.$color02;
        background-color: transparent;

        &:hover,
        &:active {
          background-color: rgb(249, 246, 242);
        }
      }
    }
  }
}

.slider_right {
  height: 100%;
  width: 50%;
  background-color: yellow;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .slider_container {
    height: 60vh;
    width: 100%;
    display: flex;
  }
}
