@use "_colors" as color;

.productdetails_container {
  min-height: fit-content;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 10vmax;

  .productdetails_left {
    width: 50%;
    height: fit-content;
    padding: 1vmax 6vmax;
    position: sticky;
    top: 0;
    bottom: 10vmax;

    img {
      object-fit: contain;
      height: 60vh;
      width: 100%;
    }
  }

  hr {
    margin: 1vmax 0;
    border: 1px solid #d9d9d9;
  }

  .productdetails_right {
    width: 100%;
    width: 50%;
    padding: 1vmax 3vmax 1vmax 1vmax;
    display: flex;
    flex-direction: column;
    gap: 0.5vmax;

    // name, description, ratings
    .productDetails_right_box01 {
      display: flex;
      flex-direction: column;
      gap: 1vmax;

      h2 {
        font-size: 1.8vmax;
        font-weight: 600;
      }

      p {
        font-size: 1.2vmax;
        color: #666666;
      }

      > button {
        font-size: 1vmax;
        display: flex;
        align-items: center;
        align-self: start;
        padding: 0.2vmax 0.5vmax;
        width: fit-content;
        gap: 0.2vmax;
        color: #666666;
        background-color: transparent;
        border: 1px solid #d9d9d9;
        cursor: pointer;

        &:hover {
          border: 1px solid #666666;
        }

        span {
          color: color.$color01;
          font-weight: 600;
        }

        svg {
          font-size: 1vmax;
        }
      }
    }

    // price, size, addtocart, wishlist
    .productDetails_right_box02 {
      display: flex;
      flex-direction: column;
      gap: 1vmax;

      div:nth-child(1) {
        h2 {
          font-size: 1.8vmax;
          font-weight: 600;

          span:nth-child(1) {
            font-size: 1vmax;
            text-decoration: line-through;
            font-weight: 400;
          }

          span:nth-child(2) {
            font-size: 1vmax;
            color: red;
            font-weight: 400;
          }
        }

        p {
          font-size: 1vmax;
          color: color.$color02;
          font-weight: 600;
        }
      }

      div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 1vmax;

        p {
          font-size: 1vmax;
          font-weight: 600;
        }
        div {
          display: flex;
          flex-direction: row;

          button {
            height: 4vmax;
            width: 4vmax;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 1vmax;
            border: 2px solid #cccccc;
            background-color: transparent;
            font-weight: 600;
            cursor: pointer;
            font-size: 1vmax;
            color: black;

            &:hover {
              border: 2px solid color.$color02;
              color: color.$color02;
            }
          }
        }
      }

      div:nth-child(3) {
        display: flex;
        gap: 1.5vmax;

        button {
          font-size: 1vmax;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5vmax;
          padding: 1vmax 4vmax;
          border: 2px solid #cccccc;
          background-color: transparent;
          font-weight: 600;
          cursor: pointer;
          border-radius: 5px;
          color: black;

          svg {
            color: white;
          }
        }

        button:nth-child(1) {
          background-color: color.$color02;
          color: color.$color04;

          &:hover {
            background-color: color.$color03;
          }
        }

        button:nth-child(2) {
          background-color: transparent;

          &:hover {
            border: 2px solid color.$color02;
            color: color.$color02;
          }
        }
      }
    }

    // product details
    .productDetails_right_box03 {
      display: flex;
      flex-direction: column;
      gap: 1vmax;

      h4 {
        font-size: 1.2vmax;
        display: flex;
        align-items: center;
        gap: 0.5vmax;
        font-weight: 600;

        svg {
          font-size: 1.5vmax;
        }
      }

      p {
        color: #666666;
        font-size: 1vmax;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 0.3vmax;
      }
    }
  }
  .productdetail_rating,
  .productdetail_reviews {
    h4 {
      font-size: 1.2vmax;
      display: flex;
      align-items: center;
      gap: 0.5vmax;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 768px) {
  .productdetails_container {
    flex-direction: column;

    .productdetails_left {
      width: 100%;
      height: 80vh;
      position: static;
    }

    .productdetails_right {
      width: 100%;
    }
  }
}
