@use "_colors" as color;

.shopbox_container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 2vmax 0;
}

.shopbox_left {
  height: 100%;
  width: 70%;
  padding: 0 3vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vmax;
  background: url("https://img.freepik.com/premium-vector/seamless-pattern_626749-62.jpg?w=740");

  h2 {
    font-size: 3vmax;
    width: 80%;
  }

  p {
    width: 90%;
    font-size: 1vmax;
  }

  .shopbox_boxes {
    display: flex;
    width: 100%;
    gap: 2vmax;

    div {
      width: 15vmax;

      h3 {
        font-size: 2.5vmax;
        font-weight: 600;
      }
    }
  }

  .shopbox_buttons {
    display: flex;
    gap: 2vmax;
    width: 75%;

    button {
      padding: 0.5vmax 1.5vmax;
      border-radius: 5px;
      border: 1px solid transparent;
      font-weight: 500;
      cursor: pointer;
      transition: all 200ms ease-in-out;
      font-size: 1vmax;

      &:nth-child(1) {
        background-color: color.$color02;
        color: color.$color04;

        &:hover,
        &:active {
          background-color: color.$color03;
        }
      }

      &:nth-child(2) {
        border: 2px solid color.$color02;
        background-color: transparent;

        &:hover,
        &:active {
          background-color: rgb(249, 246, 242);
        }
      }
    }
  }
}

.shopbox_right {
  height: 100%;
  width: 30%;
  background-color: yellow;

  img {
    height: 100%;
    width: 100%;
    object-fit: 100%;
  }
}

@media screen and (max-width: 768px) {
  .shopbox_container {
    height: 35vh;
    width: 100%;
    display: flex;
  }

  .shopbox_left {
    gap: 1vmax;

    h2 {
      font-size: 2vmax;
    }
  }
}
